<div class="container mt-2">
  <%# 検索フォーム %>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6 mb-1">
      <%= form_with url: shops_path, method: :get, local: true do |f| %>
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <%= f.text_field :keyword, class: "form-control", placeholder: "店舗名", autofocus: true %>
              <div class="ms-2">
                <%= f.submit "検索", class: "btn btn-primary" %>
              </div>
            </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%# 検索結果一覧表示 %>
    <div class="col-12 col-md-8 col-lg-6 mb-1">
      <% if @shops.present? %>
        <div class="card">
          <div class="card-body">
            <p class="card-title">検索結果</p>
            <div class="list-group">
              <% @shops.each do |shop| %>
                <%= link_to shop_path(shop), class: "list-group-item list-group-item-action" do %>
                  <h5 class="mb-1"><%= shop.name %></h5>
                  <p class="mb-1"><%= shop.address %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% elsif @keyword.present? %>
        <div class="alert alert-info mt-2">
          <strong><%= @keyword %></strong> に一致する店舗は見つかりませんでした。
        </div>
      <% end %>
    </div>
    <%# Google Map表示 %>
    <%= render "shared/google_map" %>
  </div>
</div>